# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Deps & libs
.deps
.libs

# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/m4
/autom4te.cache
/aclocal.m4
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1

# configure-generated

Makefile
/config.log
/config.status
/libtool
/ltmain.sh